.home {
  margin: 0 80px;
  margin-top: 10px;
}

.card-container {
  background: none repeat scroll 0 0;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: auto;
}

.card {
  background: none repeat scroll 0 0;
  flex: 1 1 18%;
  height: auto;
  margin: 4px;
  padding: 20px 0;
  width: auto;
}

.card img {
  width: 100%;
}

.title h1 {
  color: #8c8989;
}

.btn {
  display: inline-block;
  padding: 10px 50px;
  margin-right: 20px;
  border-radius: 50px;
  border: none;
  color: #e5e5e5;
  background: white;
  font-weight: 900;
}

.btn:hover {
  background: #eb507f;
}

.btn.active {
  background: #eb507f;
}
