.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.navbar-item input {
  padding: 0.5rem 5rem;
}

.navbar-item p {
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
}

.navbar-item.logo {
  display: flex;
}

.navbar-item.logo p {
  margin-right: 10px;
}

.ReactModal__Content {
  width: 500px;
  height: 600px;
  margin-left: 370px;
}

.title-modal {
  text-align: center;
}

.email-wrapper {
  margin-top: 30px;
}

.password-wrapper {
  margin-top: 30px;
}

label {
  color: grey;
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-left: 50px;
}

.input-email {
  margin-left: 50px;
  width: 380px;
  height: 40px;
  background-color: rgba(236, 231, 231, 1);
  border: none;
}

.input-password {
  margin-left: 50px;
  width: 380px;
  height: 40px;
  background-color: rgba(236, 231, 231, 1);
  border: none;
}

.btnClose {
  position: absolute;
  margin-left: 470px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.btnLogin {
  width: 385px;
  height: 40px;
  position: absolute;
  margin-left: 50px;
  margin-top: 100px;
  background-color: rgba(254, 2, 78, 1);
  border: none;
  letter-spacing: 2px;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.new-acc {
  position: absolute;
  margin-left: 130px;
  margin-top: 220px;
}

span {
  color: rgba(254, 2, 78, 1);
  cursor: pointer;
  font-weight: bolder;
}

.btn-success {
  cursor: pointer;
}

.btn-success:hover{
  cursor: pointer;
  background-color: white;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  background: #f36d95;
  align-items: center;
  padding: 20px 30px;
  color: white;
  position: absolute;
  border-radius: 10px;

  width: 100px;
}

.dropdown-img {
  width: 50px;
  border-radius: 50%;
}

.logo {
  margin-top: 30px;
}
