.image-container {
  height: 400px;
  width: 100%;
}

.image-container img {
  width: 1350px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
