.banner {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  color: white;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  flex-direction: column;
}

.banner-img {
  width: 100%;
  height: 100%;
}

.banner-content {
  position: absolute;
  top: 20px;
  left: 50px;
}

.banner-content p {
  font-weight: 500;
}

.btn-banner button {
  padding: 15px 30px;
  margin-right: 20px;
  border-radius: 15px;
  margin-top: 20px;
  border: none;
}

.btn-banner .satu {
  background: #fe024e;
  color: white;
  font-weight: 900;
  font-style: Roboto;
}
.btn-banner .dua {
  color: black;
  font-weight: 900;
  opacity: 0.5;
}
